$main-font : Public Sans;
$para-font-size : 1.1rem;
$section-heading-size : 2.5rem;

$section-bgcolor-alt: rgba(195, 192, 192, 0.285);
$button-gradient : linear-gradient(90deg, rgb(2, 198, 38) 0%, rgb(0, 179, 202) 100%);
$nav-bg-color : white;
$para-text-color : rgba(44, 44, 44, 0.5);
$heading-small-color :  rgb(68, 67, 67);
$footer-bg-color : hsl(233, 26%, 24%);